<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feidi.elecsign">

    <application>
        <activity android:name=".mvp.ui.activity.prestoreSignActivity" />
        <activity
            android:name=".mvp.ui.activity.ElectronicSignatureActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".mvp.ui.activity.AuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SignatureActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".mvp.ui.activity.MySignatureActivity"
            android:screenOrientation="sensor" />
    </application>

</manifest>