<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miu360.legworkwrit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".mvp.ui.activity.PhotoActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.miu360.take_photo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".mvp.ui.activity.NormalProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DetainCarFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.TalkNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FristRegisterNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LiveTranscriptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LiveCheckRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SimpleProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CreateCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CaseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CaseSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.WritPrintListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InquiryRecordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.ObtainImageActivity" />
        <activity
            android:name=".mvp.ui.activity.IllegalDetailActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AdministrativePenaltyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CaseBasicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DetainCarDecideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UploadListActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.epson.isv.eprinterdriver.Ctrl.EPrintStateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.epson.isv.eprinterdriver" />
            </intent-filter>
        </receiver>

        <activity android:name=".mvp.ui.activity.CaseBlListActivity" />
        <activity android:name=".mvp.ui.activity.WifiTestActivity" />

        <service android:name=".app.service.GeneralInformationService" />

        <activity android:name=".mvp.ui.activity.CaseSignActivity"/>
        <activity
            android:name="cn.org.bjca.anysign.android.api.core.SignatureActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>