<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feidi.video">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />。

    <application>
        <activity android:name=".mvp.ui.activity.TCPTestActivity"></activity>

        <service android:name=".app.services.TCPConnectService" />

        <activity
            android:name=".mvp.ui.activity.SeeVideoListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SeeVideoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>